body {
    background-color: rgb(157, 198, 218);
    color: rgb(14,84,205);
    margin: 10px;
    font-family: Jua-Regular;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.outbox {
    overflow: scroll;
    position: relative;
    top: 50px;
    width : 800px;
    height : 500px;
    background-color: white;
    border: 2px solid rgb(14,84,205);
    padding : 15px;
    padding-top: 5px;
    margin : 5px;
}
/*.outbox_mp{
    overflow: scroll;
    position: relative;
    top: 50px;
    width : 800px;
    height : 500px;
    background-color: white;
    border: 2px solid rgb(14,84,205);
    padding : 15px;
    padding-top: 5px;
    margin : 5px;
}*/
.innerbox{
    position : relative;
    overflow: scroll;
    width : 730px;
    height : 180px;
    background-color : white;
    border: 2px solid rgb(14,84,205);
    padding : 20px;
    margin : 15x px; 
}
.select_text{
    position: relative;
    left: 350px;
    display: inline;
    
}
.select_cate{
    position: relative;
    left: 220px;
    display: inline;
    color:black;
    padding: 0.375rem 0.75rem;
    border: 1px solid blue ;
    border-radius: 0.25rem;
    font-family: Jua-Regular;
    font-size: 1rem;
    line-height: 1.5;
}
.center{
    display: center;
    justify-content: center;
    align-items: center;
}

  @font-face {
      font-family: Jua-Regular;
      src: url("./fonts/Jua-Regular.ttf");
  }